**Print Statement**

- Print is the inbuilt function ,to see answer
- In jupyter notebook we can see latest value without using print
- If you want to see all the values we use print
- In VS code ,pycharm there is no markdown option
- If we want to see any answer ,we need to use print statement

In [9]:
num1=100
num2=200
num1

100

In [11]:
print(num1)
print(num2)

100
200

In [21]:
print(num1,num2)
print('Archana','Ashwini')
print('Archana','Ashwini',num1,num2)

100 200
Archana Ashwini
Archana Ashwini 100 200

In [47]:
a=10
b=20
c=a+b
c
# The Addition of 10 and 20 is 30
print("The addition of 10 and 20 is 30")
print("The addition of a and b is c")
print('Addition of a',a,'and',b,'is',c)

The addition of 10 and 20 is 30
The addition of a and b is c
Addition of a 10 and 20 is 30

In [61]:
name='Archana'
age=19
city='Jalna'
print("My name is",name,"I am year old",age, "I came form ",city)

My name is Archana I am year old 19 I came form  Jalna

**Format Method**

In [68]:
a=10
b=20
c=a+b
#The addition of 10,20 is 30
print("The Addition of 10,20 is 30")
print("The Addition of{},{} is {}")
print("The Addition of {},{} is {}".format(a,b,c))

The Addition of 10,20 is 30
The Addition of{},{} is {}
The Addition of 10,20 is 30

In [149]:
name='archana'
age=19
city='jalna'
print("My name is {},My age is {} I came from {}".format(name,age,city))

My name is archana,My age is 19 I came from jalna

In [151]:
add
mul
sub
div
n1=10
n2=20
add=n1+n2
mul=n1*n2
sub=n1-n2
div=n1/n2
print("Addition of {} and {}is {}".format(n1,n2,add))
print("Mul of {} and {} is {}".format(n1,n2,mul))

Addition of 10 and 20is 30
Mul of 10 and 20 is 200

In [94]:
a=10
b=20
c=a+b
print(f"the addition of {a},{b}is {c}")
#fstring method

the addition of 10,20is 30

In [108]:
a=10
b=20
add=a+b
sub=a-b
mul=a*b
div=a/b
print(f"The addition of{a},{b}is{add}")
print(f"The Substraction of {a},{b}is{sub}")
print(f"The Multiplication of {a},{b}is{mul}")
print(f"The division of {a},{b}is{div}")

The addition of10,20is30
The Substraction of 10,20is-10
The Multiplication of 10,20is200
The division of 10,20is0.5

In [118]:
name="Archana"
age=19
city="Jalna"
print(f"My name is {name},My age is {age},I came from {city}")

My name is Archana,My age is 19,I came from Jalna

In [120]:
print(10)
print(20)
#using two print statements 
#we need to write 10,20

10
20

**End Operator**

In [123]:
print(10,end='=')
print(20)

10=20

In [127]:
print(10,end=',')
print(20,end=',')
print(30)

10,20,30

**Seperator**

In [144]:
#usig one print statement
#10-->20-->30
#print(10'-->',20'-->30')
#Seperating the all values inside the one print
print(10,20,30,sep='-->')

10-->20-->30

In [146]:
#10+20=30
print(10,end='+')
print(20,end='=')
print(30,'.',sep='')

10+20=30.

- Format Method
- F string Method
- sep
- end