- integer====int
- float====float
- string====str
- boolean====bool

**Integer to other data types**

In [3]:
num1=100
type(num1)

int

In [4]:
num_float=float(num1)
num_float

100.0

In [5]:
type(num_float)

float

- num1 is a variable stored value:100
- num1 is a integer type
- to convert float we need to write ,float(num1)
- float(num1) gives 100.0
- float(num1)stored in a variable: num_float
- num_float is a float type

**Name Error**


- Whenever if we see name error means that corresponding variable id not defined
- For example in below naresh is variable
- Is not defined before , that why we are getting erroe
- So go above the line and search above line and search variable:naresh
- If you feel that is already defined then run again

In [8]:
naresh

NameError: name 'naresh' is not defined

In [ ]:
#Integer to string conversion 
num1=100
num_string=str(num1)
num_string

In [ ]:
#Integer to Boolean
num1=100
num_bool=bool(num1)
num_bool

In [ ]:
type(num_bool)

In [ ]:
num2=-100
num_bool=bool(num2)
num_bool

In [ ]:
num3=0
num_bool=bool(num3)
num_bool

**Note**
- When boolean conversion of integer gives false
  - For 0 value ,it gives False

In [ ]:
num1=100
num1_float=float(num1)
num1_str=str(num1)
num1_bool=bool(num1)
num1_float,num1_str,num1_bool

In [ ]:
float(10000),str(10000),bool(10000)

**Float to Other data types**

In [ ]:
num1=100.1
type(num1)

In [ ]:
num1_int=int(num1)
num1_str=str(num1)
num1_bool=bool(num1)
num1_int,num1_str,num1_bool

In [24]:
#case-1
str='apple'
int('apple')#error
float('apple')#error
bool('apple')#True
bool('apple')

True

In [ ]:
#case-2
str='apple123'
int('123')
float('apple123')
bool('apple123')
bool('apple123')

In [ ]:
#case3
str=0
int('0')
float('0')
bool('0')

In [ ]:
#case-4
str=''
int('')
float('')
bool('')

In [ ]:
#case5
str='10'
int('10.5')
float('10')
bool('10')
int('10')

- English letters as string representation
 -apple
   - int fail
   - float fail
   - boolean True
- English letter with numbers as string representation
 - apple123
   - int fail
   - float fail
   - bool True

- 0 as a string representation
 - 0
  - int will give 0
  - float will give 0.0
  - bool will give True
- Empty string as string representation
  - int fail
  - float fail
  - bool False
- 10 as string representation
   - int will give 10
   - float will give 10.0
  - bool will give True
- 10.5 as string representaion
  - int fail
  - float 010.5
  - bool True

In [ ]:
int('10')

In [ ]:
float('10')

In [ ]:
int('10.0')

**float is a boss**
float('10')
float('10.5')

**integer will works only int family**
int('10')
int('10.5')
    #int('10.5') will give error

In [ ]:
bool(''),bool(' ')

**Boolean to other data types**

In [ ]:
int(True)

In [ ]:
float(True)

In [22]:
str(1)

'1'

TypeError: 'str' object is not callable

TypeError: 'str' object is not callable

TypeError: 'int' object is not callable

TypeError: 'int' object is not callable