**Data Types**

- In python we have many data types are there
 - Interger
 - float
 - string
 - boolean

**Integer**

- In python no need to mention a data type like c
- It will consider the data type automatically

In [ ]:
number=100
# in order to check the type of a variable we will use
# In built funstion calles as type

In [8]:
type(100)

int

- In maths we have different types are available
**The following Number System are**:
    - Binary
    - Octa
    - Decimal
    - hexa

**Binary**
- Binary hasbi which indicates two
- we have total 0 to 9 to represent any number
- from there we eill take only first two digits i.e.0 and 1
- Example:0b101,0B0001
- Wrong representationis :0b002

In [14]:
num=0b111
num

7

In [19]:
0b100001

33

In [21]:
0b00101

5

In [23]:
0b11001

25

In [ ]:
# Digital 
4 2 1 num
0 0 0 0   #0b000=0
0 0 1 1   #0b001=1
0 1 0 2   #0b010=2
0 1 1 3   #0b011=3
1 0 0 4   #0b100=4
1 0 1 5   #0b101=5
1 1 0 6   #0b110=6
1 1 1 7   #0b111=7

**Octa**


**Octa**
- octa means8
- We have total 0 to 9 digits to represent any number: 0,1,2,3,4,5,6,7,8,9
- From there we will take only starting 8 digits i.e.0 to 7
- Example; 0o123,0o567,0o10006
- wrong representation is :0o786 because 7,6 but 8

In [10]:
0o123

83

In [12]:
0o567

375

In [14]:
0o10006

4102

In [20]:
0o743

483

In [22]:
0o231

153

In [24]:
0o763

499

In [26]:
0o786

SyntaxError: invalid digit '8' in octal literal (3171049937.py, line 1)

In [28]:
0O456

302

**Hexa**
- Hexa means 16
- We have total 0 to 8 digits to representation any number 0,1,2,3,4,5,6,7,8,9
- After 9 we will use Ato F A:10,B:11,c:12,D:13,E:14,F:15
- Example: 0x123, 0XABC,0x9ad
- Wrong representation  is:0xFGH

In [38]:
0xab9

2745

In [40]:
0x25ab

9643

In [42]:
0xabc

2748

**Float**

In [51]:
number=10.5 
type(number)

float

In [53]:
type(10),type(10.5)

(int, float)

In [78]:
10e1
10e2
10e3
10e4

100000.0

In [65]:
10
20  #In jupyter note book by default last value will print

20

In [67]:
#If yo want to se all answer print
print(10)
print(20)

10
20

In [69]:
print(10e1)

100.0

In [71]:
print(10e2)

1000.0

In [73]:
print(10e3)

10000.0

In [75]:
print(10e4)

100000.0

In [80]:
10e+1
10e+2
10e+3

10000.0

In [82]:
10e-1  #10/<10>=1
10e-2  #10/<100> 0.1
10e-3  #10/<1000>=0.01

0.01

In [84]:
print(10e-1),print(10e-2),print(10e-3)

1.0
0.1
0.01

(None, None, None)

- in the machine learning we often see values in exponential form
- In some cases we need to search for zero
- In ML with Python we rarely see exact an answee 0.0
- Instead of 0.0 it will display as 1.2345e-17

**Strings**

  - String represents english characters generally
  - String will represents with quotes
    - Single quotes
    - Double Quotes
    - Tripple Quotes

In [92]:
str1='Archana'  #SingleQuote
str1

'Archana'

In [94]:
type(str1)

str

In [96]:
str2="Archana" #Duble Quote
str2

'Archana'

- we can represent in any quotes but python will give output in single quote only

In [99]:
print(str1)

Archana

In [101]:
print(str2)

Archana

- When we apply print on string ,It will display with out Quotes

In [104]:
str3='abc123'
type(str3)

str

In [106]:
type('10'),type('10.5'),type('123')

(str, str, str)

- Any data type or any value is provided by quotes it becomes a string only
- string color in Red color
- Variables color in Black color
- keyword or numbers always in Green color

In [112]:
python="python"
python
# "Python" is a english letters stored in avariable name called python

'python'

In [118]:
str1="I like 'python'"
print(str1)

I like 'python'

In [120]:
str2='I like "python"'
str2

'I like "python"'

- if you want to highlight word 
- represent entire string single quote and highlite word in double quote
- represent entire string in double quote and highlight word in single quote

In [129]:
str1='hai
how are you'

SyntaxError: unterminated string literal (detected at line 1) (4192490924.py, line 1)

In [127]:
str1="""hi
   how are you
     I am fine"""
print(str1)

hi
   how are you
     I am fine

- Triple Quotes is used to write  a multi line comment
- This is called as**Docstring**
- In order to write a story in jupyter notebook we have mark down
- But other plat formlike VSCODE, PYCHARM we dont have markdown
- Then how we can write a story: by using triple quotes
- If any person Writing some thing using triple quotes  ,which indicates the user is trying to convey the information
- Then its called Docstring

**Boolean**

- for computer takes the values in binary format (0,1)
- computer gives answer in boolean format
  - true
  - false
- true indicates 1
- false indicates 0

In [141]:
val1=True
type(val1)

bool

In [143]:
val2=False
type(val2)

bool

In [145]:
true='True'
TRUE=True
#true,TRUE=variables

In [147]:
a=10
b=10.6
c="10"
d=True

In [153]:
type(a),
type(b),
type(c),
type(d)

bool